.App {
  text-align: center;

}

.loginDiv  {
  background-image: url('../src/netflix-background.jpg')
}
* {
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-info-container {
  background-color: #020617; /* Same background color as the homepage */
  color: #ffffff; /* Text color */
}

.movie-info-container h1 {
  color: #ff0000; /* Adjust heading color */
}

.black-background {
  background-color: black;
  color: white;
}

/* Add this CSS to darken movie poster on hover */
.hover-effect {
  position: relative;
}

.hover-effect:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
}

.hover-effect:hover .text-overlay {
  visibility: visible;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  visibility: hidden;
}

.hover-effect {
  position: relative;
  width: 300px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  overflow: hidden;
}

